        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: black;
        }
        p{
            font-size: 50px;
            color: white;
            text-shadow: 0 0 10px yellow;
            font-family: sans-serif;
            font-weight: bold;
        }
        span{
            color: yellow;
            position: relative;
            top: 0;
            animation: colorful 6s infinite;
        }
        @keyframes colorful {
        100% {
        filter: hue-rotate(360deg);
        }
        }
        
